footer#footer.footer
  svg(viewBox="0 0 100 100" preserveAspectRatio="none").footer__curve
    use(xlink:href="#curveUp")
  .footer__container
    ul.footer__contacts.contacts#contacts
      li.contacts__item
        a.contacts__link.contacts__link_tel(href='tel://+7-906-933-3964') 8&#8209;906&#8209;933&#8209;3964
      li.contacts__item
        a.contacts__link.contacts__link_vk(href='http://vk.com/yuliya.yoga', target='_blank') Вконтакте
      li.contacts__item
        a.contacts__link.contacts__link_ok(href='http://ok.ru/profile/41359544719', target='_blank') Одноклассники
      li.contacts__item
        a.contacts__link.contacts__link_fb(href='https://www.facebook.com/yogayuliya', target='_blank') Facebook
      li.contacts__item
        a.contacts__link.contacts__link_spz(href='http://samopoznanie.ru/trainers/juliya_shalimova/' , target='_blank') Самопознание
      li.contacts__item
        a.contacts__link.contacts__link_email(href='mailto:hathayoga42@gmail.com') hathayoga42@gmail.com
