footer.footer
  svg(viewBox="0 0 100 100" preserveAspectRatio="none").footer__curve
    use(xlink:href="#curveUp")
  .footer__container
    ul.footer__contacts.contacts
      li.contacts__item
        a.contacts__link.contacts__link_tel(href='tel://+7-906-933-3964')
          span.contacts__text.contacts__text_tel +7-906-933-39-64
      li.contacts__item
        a.contacts__link.contacts__link_vk(href='http://vk.com/yuliya.yoga', target='_blank')
          span.contacts__text vk.com/yuliya.yoga
      li.contacts__item
        a.contacts__link.contacts__link_ok(href='http://ok.ru/profile/41359544719', target='_blank')
          span.contacts__text ok.ru/profile/41359544719
      li.contacts__item
        a.contacts__link.contacts__link_fb(href='https://www.facebook.com/yogayuliya', target='_blank')
          span.contacts__text facebook.com/yogayuliya
      li.contacts__item
        a.contacts__link.contacts__link_email(href='mailto:yalovitskaya81@mail.ru')
        span.contacts__text.contacts__text_email yalovitskaya81@mail.ru