header.header
      .header-container
        h1.header__title.title
          a(href="/").title__link Йога в Кемерово
        .header__logo.logo
          img(src="img/asana7.svg" alt="logo").logo__img
        ul.header__menu.menu
          li.menu__item
            a.menu__link(href='#about-me') О себе
          li.menu__item
            a.menu__link(href='#about-yoga') О йоге
          li.menu__item
            a.menu__link(href='#schedule') Расписание и цены
          li.menu__item
            a.menu__link(href='#video') Видео
          li.menu__item
            a.menu__link(href='#seminars') Семинары