html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}


.browsehappy {
  text-align: center;
  font-size: 30px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
   margin: 0;
   padding: 0;
}