$footerColor: #bbd66b;

.footer {
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    display: flex;
    flex-direction: column;


    &__container {
        display: flex;
        justify-content: center;
        transition: all 1s;
        width: 100%;
        background:$footerColor;
    }
    &__curve {
        width: 100%;
        transition: all 1s;
        height: 13px;
        fill:$footerColor;
        margin-bottom: -0.5px;
    }
}

.contacts {
    font-family: "tuffyregular";
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    animation-delay: 0.5s;
    animation-duration: 1s;


    &__item {
        display:flex;
        justify-content: flex-start;
        // margin: 10px 0 10px;
        margin: 5px 10px;
        border-radius: 50%;

    }
    &__link {
        padding: 0;
        cursor: pointer;
        color: white;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        &:hover {
            animation-name: swing;
            animation-duration: 0.5s;
        }
        &_tel {
            &:before {
                content: ' ';
                height: 34px;
                width: 34px;
                margin-right: 7px;
                background:  url('../img/tel.svg') no-repeat center center ;
                background-size: contain, 0 0;
            }
        }
        &_vk {
             &:before {
                content: ' ';
                height: 32px;
                width: 32px;
                margin-right: 10px;

                background:  url('../img/vk.svg') no-repeat center center ;
                background-size: contain, 0 0;
            }
        }
        &_ok {
            &:before {
                content: ' ';
                height: 32px;
                width: 32px;
                margin-right: 10px;

                background:  url('../img/ok.svg') no-repeat center center ;
                background-size: contain, 0 0;
            }
        }
        &_fb {
            &:before {
                content: ' ';
                height: 34px;
                width: 34px;
                margin-right: 9px;

                background:  url('../img/fb.svg') no-repeat center center ;
                background-size: contain, 0 0;
            }
        }
        &_spz {
             &:before {
                content: ' ';
                height: 38px;
                width: 38px;
                margin-right: 7px;
                margin-left: -2px;
                background:  url('../img/spz.svg') no-repeat center center ;
                background-size: contain, 0 0;
            }
        }
        &_email {
              &:before {
                content: ' ';
                height: 34px;
                width: 34px;
                margin-right: 10px;

                background:  url('../img/email.svg') no-repeat center center ;
                background-size: contain, 0 0;
            }
        }
    }
}
