$footerColor: #bbd66b;

.footer {
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    display: flex;
    flex-direction: column;


    &__container {
        display: flex;
        transition: all 1s;
        justify-content:  center;
        width: 100%;
        background:$footerColor;
    }
    &__curve {
        width: 100%;
        transition: all 1s;
        height: 13px;
        fill:$footerColor;
        margin-bottom: -0.5px;
    }
}

.contacts {
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    animation-delay: 0.5s;
    animation-duration: 1s;
    &__item {
        margin: 10px 0 10px;
        font-size: 0;
        border-radius: 50%;

    }
    &__link {
        cursor: pointer;
        display: inline-flex;
        align-items: baseline;
        height: 34px;
        width: 34px;
        &:hover {
            animation-name: swing;
            animation-duration: 0.5s;
        }
        &_tel {
            background:  url('../img/tel.svg') no-repeat center center;
            background-size: contain, 0 0;
        }
        &_vk {
            background:  url('../img/vk.svg') no-repeat center center;
            background-size: contain, 0 0;
        }
        &_ok {
            height: 30px;
            width: 30px;
            background:  url('../img/ok.svg') no-repeat center center;
            background-size: contain, 0 0;
        }
        &_fb {
            background:  url('../img/fb.svg') no-repeat center center;
            background-size: contain, 0 0;
        }
        &_email {
            background:  url('../img/email.svg') no-repeat center center;
            background-size: contain, 0 0;
            fill:black;
        }
    }
    &__text {
        display: none;
        &_tel, &_email {
            font-size: 0.8rem;
        }
    }
}
