@font-face {
    font-family: 'tuffyregular';
    src: url('../fonts/tuffy-webfont.eot');
    src: url('../fonts/tuffy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tuffy-webfont.woff2') format('woff2'),
         url('../fonts/tuffy-webfont.woff') format('woff'),
         url('../fonts/tuffy-webfont.ttf') format('truetype'),
         url('../fonts/tuffy-webfont.svg#tuffyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lifehackregular';
    src: url('../fonts/deartype_-_lifehack-webfont.eot');
    src: url('../fonts/deartype_-_lifehack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/deartype_-_lifehack-webfont.woff2') format('woff2'),
         url('../fonts/deartype_-_lifehack-webfont.woff') format('woff'),
         url('../fonts/deartype_-_lifehack-webfont.ttf') format('truetype'),
         url('../fonts/deartype_-_lifehack-webfont.svg#lifehackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.eot');
    src: url('../fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaalight';
    src: url('../fonts/comfortaa-light-webfont.eot');
    src: url('../fonts/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa-light-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-light-webfont.woff') format('woff'),
         url('../fonts/comfortaa-light-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa-light-webfont.svg#comfortaalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/comfortaa-regular-webfont.eot');
    src: url('../fonts/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-regular-webfont.woff') format('woff'),
         url('../fonts/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}