
.main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.article {
  text-align: justify;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
    &__info {
      font-family: 'robotolight';
    }
    &__container {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
    }
    &__header {
      display: inline-flex;
      justify-content: center;
      margin: 0;
      font-family:'tuffyregular';
      font-size: 1.5rem;
      font-weight: normal;
      border-bottom: 2px solid lighten(#999, 24%);
      padding: 20px;
      margin-bottom: 20px;
    }
    &__text {
      // display: flex;
      margin: 0 0 20px;
    }
    &__curveUp, &__curveDown {
      width: 100%;
      height: 45px;
    }
    &__curveUp {
        margin-bottom: -0.5px;
    }
    &__curveDown {
        margin-top: -0.5px;
    }
    &__asana {
      width: 70%;
      display: flex;
      margin: auto;
      justify-content: space-around;
    }
    &__video {
      display: flex;
    }
}

/*ASANAS*/

.asana {
  position: relative;
  display: flex;
  margin: 15px 5px;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s;
    &:hover {
      box-shadow: 0 0 5px 3px lightgray;
      }
    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.20;
      transform: scale(0.7);
      transition: all 1s;
    }
    &__wrapper {
      opacity: 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      transition: all 0.5s;
    }
    &__header {
      font-family:'comfortaalight';
      text-align: center;
      font-size: 0.9rem;
      margin-bottom: 8px;
      transition: all 0.1s;
      min-width: 1px;
    }
    &__subHeader {
      font-family:'comfortaalight';
      text-align: center;
      font-size: 1.1rem;
      margin-bottom: 5px;
      transition: all 0.1s;
    }
    &__text {
      max-width: 280px;
      font-family: 'robotolight';
      font-size: 0.8rem;
      margin: 0;
      transition: all 0.1s;

        &-wrapper {
        margin: auto;
        }
    }
}

.initsvg {
  display: none
}

#index {
  .article {
    &__info {
      background: white;
    }
  }
}

$aboutmeColor: #DAE180;
#about-me {
  .article {
    &__header {
      border-bottom: 2px solid white;
    }
    &__info {
      background: $aboutmeColor;
    }
    &__curveUp, &__curveDown {
      fill:$aboutmeColor;
    }
  }
}

$aboutYoga: lighten(#C1B512, 45%);
#about-yoga {
  .article {
    &__header {
      border-bottom: 2px solid $aboutmeColor;
    }

    &__info {
      background: $aboutYoga;
    }
    &__curveUp, &__curveDown{
      fill:$aboutYoga;
    }
  }
}

$scheduleColor: #f2d28c;
#schedule {
  .article {
    &__header {
      border-bottom: 2px solid $aboutYoga;
    }
    &__info {
      background: $scheduleColor;
    }
    &__curveUp, &__curveDown {
      fill:$scheduleColor;
    }
  }
}

$videoColor: #bbd66b;
#video {
  .article {
    &__header {
      border-bottom: 2px solid $scheduleColor;
    }
    &__info {
      background: $videoColor;
    }
    &__curveUp, &__curveDown {
      fill:$videoColor;
    }

    &__video {
      // box-sizing:
      flex-flow: row wrap;
      justify-content: center;
    }
    &__text {
      justify-content: center;
    }

  }
}
$seminarsColor: lighten(#C1B512, 45%);
#seminars {
  .article {
    &__header {
      border-bottom: 2px solid $videoColor;
    }
    &__info {
      background: $seminarsColor;
    }
    &__curveUp, &__curveDown {
      fill:$seminarsColor;
    }
  }
}


.video {
  display: inline-flex;
  margin: 20px;
  overflow: hidden;
  flex-flow: column;
  align-items: center;
  // box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
  border-radius: 5px;
  background: white;
  max-width: 400px;
  min-height: 400px;
  // transition: 0.2s;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  &:hover {
    // box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  &__header {
    padding: 0 10px;
      text-align: center;
  }
  &__text {
  padding: 30px;
      max-width: 340px;

  }
  &__frame {
    border: none;
    width: 100%;
    // max-width: 600px;
    min-height: 200px;
  }

}


.place {
    display: flex;
    justify-content: space-between;
  &__box {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    margin:0 0 20px;
  }
  &__schedule {
    margin-bottom: 20px;
  }
  &__block {
    margin-bottom: 20px;
  }

  &__link {
    transition: all 0.3s;
    color: black;
    margin-bottom: 15px;
    // box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 20px;
    background: lighten(#f2d28c, 10%);
    &:hover {
      // box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
      background: #f9a927;
    }
  }
}

.dg-popup__container {
  text-align: center;
}
.leaflet-popup-content-wrapper{
  border-radius: 10px!important;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
   &__img {
    border-radius: 5px;
  }
  &__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__link {
margin: 10px;
  }
}

#map1, #map2 {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
  }


.gallery {
  // margin: 10px auto;
  // width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  &__img {
    width: 100%;

    // max-height: 500px;
    border-radius: 4px;

  }
  &__link {
    width: 100%;
    // max-height:400px;

    // max-height:500px;
    min-height:1px; //
  }
  &__box {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px 5px 0;
    // width: 280px;
    // max-height:390px;

  }
  &__caption {
    font-size: 0.8rem;
    // display: none;
    text-align: center;
  }
}

.ieCrutch {
    width: 180px;

}

.aboutyoga {
  // display: block;
  // float: right!important;
  margin: 0 auto 10px;
  // height: 200px;
  width: 70%;
    border-radius: 4px;



}