@media only screen and (max-width:1630px) {

  .asana__header {
    font-size: 16px;
  }
  .asana__text {
    font-size: 13px;
  }
}

@media only screen and (max-width:1252px) {
  .menu__link {
    font-size: 18px;
  }

  .asana__img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
  .asana__header {
    font-size: 11px;
    padding: 5px;
    margin: 0;
  }
  .asana__text {
    font-size: 9px;
    padding: 10px;
    margin: 0;
  }
  .contacts__item {
    padding: 5px 40px;
  }
}

@media only screen and (max-width:850px) {
  .right {
    display: none;
  }
  .columnWrapper {
    width: auto;
    margin-right: 5px;
  }
  .menu__item {
    padding: 5px 10px;
  }
  .contacts__item {
    padding: 5px 40px;
  }
  .menu__link {
    font-size: 18px;
  }
}

@media only screen and (max-width:670px) {

  .menu__item {
    padding: 1px 2px;
  }
  .menu__link {
    font-size: 18px;
  }
  .article__header {
    font-size: 22px;
  }
  .article__info {
    font-size: 16px;
    padding: 15px;
    margin: 0;
  }
  .footer {
    padding: 1px 0;
  }
  .right,
  .left,
  .onlyfortablet {
    display: none;
  }
  .columnWrapper,
  .center {
    width: 100%;
  }
  .article__info {
    padding-top: 20px;
  }
  .links__text {
    display: none;
  }
  .contacts__item {
    padding: 1px 15px;
  }

}