html, body {
  font-family: 'open_sanslight', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  box-sizing:border-box;
/*  margin:0;
  padding:0;*/
}

.header-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  position:fixed;
  width: 100%;
  background: #e3bbfc;
  opacity: 0.9;
  z-index: 1;
  transition: ease-out 0.5s;
  border-radius: 0 0 45px 45px;
 }

 .menu {
  margin:0;
  padding:0;}

 .menu-items {
 	display: inline-block;
  transition: ease-out 1s;
  padding: 5px 15px;
}

 /*.menu-items:first-child {
  padding-left: 0;
 }*/


.menu-links {
	text-decoration: none;
	text-align: center;
	font-size: 34px;
	color: white;
  opacity: 1;
}


@keyframes swing {
    15%     {-webkit-transform: translateX(5px);
        transform: translateX(5px);}
    30%     {-webkit-transform: translateX(-5px);
        transform: translateX(-5px);}
    50%     {-webkit-transform: translateX(3px);
        transform: translateX(3px);}
    65%     {-webkit-transform: translateX(-3px);
        transform: translateX(-3px);}
    80%     {-webkit-transform: translateX(2px);
        transform: translateX(2px);}
    100%    {-webkit-transform: translateX(0);
        transform: translateX(0);}
}

@keyframes swing {
    15%     {-webkit-transform: translateX(5px);
        transform: translateX(5px);}
    30%     {-webkit-transform: translateX(-5px);
        transform: translateX(-5px);}
    50%     {-webkit-transform: translateX(3px);
        transform: translateX(3px);}
    65%     {-webkit-transform: translateX(-3px);
        transform: translateX(-3px);}
    80%     {-webkit-transform: translateX(2px);
        transform: translateX(2px);}
    100%    {-webkit-transform: translateX(0);
        transform: translateX(0);}
}

.menu li:hover {
  animation-name:swing;
  animation-duration: 0.5s;
}

header:hover  {
    opacity: 1;
}

.main {
margin-top: 80px;
padding: 80px 0 50px 0;
width: 100%;
margin: 0 auto;
text-align: center;
}

.columnWrapper {
float: left;
width: 75%;
}

.right {
float: right;
width: 25%;
}

.left {
float: left;
width: 33.33%;
}

.center {
  float: right;
  width: 66.66%;
}

.article {
	margin:50px auto;
  border-radius: 40px;
  text-align: justify;
  overflow: hidden;
}

.article-header {
  margin:0;
  background: #eacefc;
  font-size: 30px;
  font-weight: normal;
  color: white;
  padding:3px 40px;
  border-bottom: 3px solid white;
}

.article-info {
  padding: 25px 40px 40px 40px;
  background: #F6EDFB;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.asana {
  max-width: 60%;
  opacity: 0.1;
  padding: 150px 0;
}

.footer {
  position:fixed;
  width: 100%;
  z-index: 1;
  color: white;
	background: #e3bbfc;
	margin:auto;
	text-align: center;
	font-size: 22px;
  border-radius: 50px 50px 0 0 ;
  padding:5px 0;
  bottom: 0%;
  vertical-align: middle;
}


.onlyfortablet {
  display: none;
}

@media only screen and (max-device-width:1800px) {
.menu-links {
    font-size: 32px;
}
}

@media only screen and (max-device-width:1350px) {
.menu-links {
    font-size: 24px;
  }
.menu-items {
  padding: 10px 10px;
}

.article-header {
  font-size: 20px;
}

.article-info {
  font-size: 16px;
}
}

@media only screen and (max-device-width:1050px) {
.menu-links {
    font-size: 20px;
  }

.menu-items {
padding: 10px 5px;
}
}

@media only screen and (max-device-width:768px) {

.menu-links {
    font-size: 18px;
}

  .right {
 display: none;
}

.columnWrapper {
width: auto;
font-size:0.9em;
}

.article-info {
  /*margin:40px auto;*/
  padding: 10px 30px 30px 30px;
  margin-right: 10px;
}

.onlyfortablet {
  display: inline;
  float: left;
  width: 20%;
}

.left {
  width: 20%;
}

.center {
  width: 80%;
}

.footer {
  font-size: 18px;
  line-height: 28px;
}

.header {
  width: 100%;
}


@media only screen and (max-device-width: 670px)  {
.menu-links {
    font-size: 16px;
}

.menu-items {
padding: 1px 2px;
}

.article-header {
  font-size: 22px;
}

.article-info {
  font-size: 16px;
  padding: 15px;
  margin:0;
}

.footer {
  padding:2px 0;
  font-size: 12px;
}

.right, .left, .onlyfortablet {
 display: none;
}

.columnWrapper, .center  {
  width: 100%;
}

.article-info {
  border: none;
  padding-top: 20px;
}
}