html,
body {
/*  font-family: 'open_sanslight', sans-serif;*/
  font-size: 16px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  /*  margin:0;
  padding:0;*/
}

.browsehappy {
  text-align: center;
  font-size: 30px;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
  opacity: 0.9;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.header,
.footer {
  opacity: 0.9;
  position: fixed;
  width: 100%;
  background: #e69a1f;
  text-align: center;
  z-index: 2;
}

.header {
  font-family:'comfortaalight';
  border-radius: 0 0 45px 45px;
}

.footer {
  /*  font-size: 22px;*/
  border-radius: 50px 50px 0 0;
  bottom: 0%;
  }

.menu {
  margin: 0;
  padding: 0;
}

.menu-items {
  display: inline-block;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
  padding: 5px 15px;
}

.menu-links {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  color: white;
  opacity: 1;
}

@-webkit-keyframes swing {
    15%     {-webkit-transform: translateX(5px);
        transform: translateX(5px);}
    30%     {-webkit-transform: translateX(-5px);
        transform: translateX(-5px);}
    50%     {-webkit-transform: translateX(3px);
        transform: translateX(3px);}
    65%     {-webkit-transform: translateX(-3px);
        transform: translateX(-3px);}
    80%     {-webkit-transform: translateX(2px);
        transform: translateX(2px);}
    100%    {-webkit-transform: translateX(0);
        transform: translateX(0);}
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
    15%     {-webkit-transform: translateX(5px);
        transform: translateX(5px);}
    30%     {-webkit-transform: translateX(-5px);
        transform: translateX(-5px);}
    50%     {-webkit-transform: translateX(3px);
        transform: translateX(3px);}
    65%     {-webkit-transform: translateX(-3px);
        transform: translateX(-3px);}
    80%     {-webkit-transform: translateX(2px);
        transform: translateX(2px);}
    100%    {-webkit-transform: translateX(0);
        transform: translateX(0);}
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.menu-items:hover {
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.header:hover {
  opacity: 1;
}

.main {
  padding: 35px 0 35px 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.columnWrapper {
  float: left;
  width: 75%;
}

.right {
  float: right;
  width: 25%;
}

.left {
  float: left;
  width: 33.33%;
}

.center {
  float: right;
  width: 66.66%;
}

.article {
  margin: 35px auto;
  border-radius: 20px;
  text-align: justify;
  overflow: hidden;
  /*box-shadow: 0 3px 7px #aaa;*/
}

.article-header {
  margin: 0;
  background: #9fc437;
  font-family:'comfortaaregular';
  font-size: 22px;
  font-weight: normal;
  color: white;
  /*margin-left: -6px;
  margin-right: -6px;*/
  padding: 3px 40px;
  /*border-top: 6px solid white;*/
  border-bottom: 4px solid white;
}

.article-info {
  font-family: 'robotolight';
  padding: 5px 40px 20px 40px;
  background: rgb(250, 245, 214);
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.contacts-list {
  margin: 0;
  padding: 0;
}

.contacts-item {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 70px;
  font-size: 0;
}

.contacts-item:hover {
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.contacts-link {
  display: inline-block;
  cursor: pointer;
}

.links-text {
  /*display: inline-block;
  opacity: 0;
  color:white;
  transition:1s;*/
  display: none;
}

.tel {
  height: 24px;
  width: 24px;
  background: url('../images/tel.svg') no-repeat center center;
  background-size: contain, 0 0;
}

.vk {
  height: 24px;
  width: 24px;
  background: url('../images/vk.svg') no-repeat center center;
  background-size: contain, 0 0;
}

.ok {
  height: 21px;
  width: 21px;
  background: url('../images/ok.svg') no-repeat center center;
  background-size: contain, 0 0;

}

.fb {
  height: 24px;
  width: 24px;
  background: url('../images/fb.svg') no-repeat center center;
  background-size: contain, 0 0;
}

.email {
  height: 24px;
  width: 24px;
  background: url('../images/email.svg') no-repeat center center;
  background-size: contain, 0 0;
}


/*ASANAS*/

.oneA {
  width: 400px;
  height: 400px;
  margin: 300px auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.asana-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.asana-test {
  width: 400px;
  height: 400px;
  background: url('../images/asana5.svg') no-repeat center center;
  background-size: 300px 300px;
  fill: #55ACEE;
  opacity: 0.25;
}

.asana-img {
  width: 100%;
  height: 100%;
  opacity: 0.25;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: opacity 0.2s ease-in-out .2s;
  transition: opacity 0.2s ease-in-out .2s;
  z-index: 1;
}

.asana-header {
  font-family:'comfortaalight';
  text-align: center;
  color: black;
  font-size: 20px;
  line-height: 25px;
  opacity: 0;
  padding: 20px 20px 0 20px;
  -webkit-transition: opacity 0.2s ease-in-out .2s;
  transition: opacity 0.2s ease-in-out .2s;
}

.asana-text {
  font-family: 'robotolight';
  font-size: 16px;
  color: black;
  opacity: 0;
/*  text-align: justify;*/
  padding: 0 20px 20px 20px;
  -webkit-transition: opacity 0.2s ease-in-out .2s;
  transition: opacity 0.2s ease-in-out .2s;
}


/*Обводка*/

.lineTop,
.lineRight,
.lineBottom,
.lineLeft {
  position: absolute;
  background: #eab9ab;
  /*цвет границы*/
  -webkit-transition: top 0.4s ease-in-out 0s, right 0.4s ease-in-out 0s, bottom 0.4s ease-in-out 0s, left 0.4s ease-in-out 0s;
  transition: top 0.4s ease-in-out 0s, right 0.4s ease-in-out 0s, bottom 0.4s ease-in-out 0s, left 0.4s ease-in-out 0s;
}

.lineTop,
.lineBottom {
  width: 100%;
  height: 2px;
}

.lineLeft,
.lineRight {
  width: 2px;
  height: 100%;
}


/*граница сверху*/

.lineTop {
  left: -100%;
  top: 0;
}

.oneA:hover .lineTop {
  left: 0;
}


/*граница справа*/

.lineRight {
  top: -100%;
  right: 0;
}

.oneA:hover .lineRight {
  top: 0;
}


/*граница снизу*/

.lineBottom {
  right: -100%;
  bottom: 0;
}

.oneA:hover .lineBottom {
  right: 0;
}


/*граница слева*/

.lineLeft {
  bottom: -100%;
  left: 0;
}

.oneA:hover .lineLeft {
  bottom: 0;
}

.onlyfortablet {
  display: none;
}

