-
    var asanas = [
    {   name: 'Врикшасана',
        rusName: 'Поза дерева',
        link: 'img/asana1.svg',
        descr: 'Поза очень полезна для позвоночника, поскольку при ее выполнении происходит растягивание всех структур позвоночника, тренируются мышцы ног, развивается способность удерживать равновесие. Регулярное выполнение этой асаны устраняет плоскостопие и скованность плечевых суставов, формирует правильную осанку, увеличивает объем легких, восстанавливает кровообращение в руках и спине, укрепляет их. Она помогает при артрите поясничного отдела, верхних отделов позвоночника, болезнях дыхательных путей, ревматических болях, благоприятна для кровообращения органов брюшной полости.',
    },
    {   name: 'Випарита карани',
        rusName: 'Поза согнутой свечи',
        link: 'img/asana2.svg',
        descr: 'Поза поможет успокоить колебания ума, научит осознанному отдыху и приведет к практике сантоши — удовлетворенности. Перевернутое положение для организма — благо. Во-первых, оно способствует оттоку лимфы, избыток которой вызывает отечность лодыжек, усталость коленей или напряжение в органах малого таза. Во-вторых, в перевернутых позах улучшается кровоснабжение мозга. Способствует оттоку лимфы, избыток которой вызывает отечность лодыжек, усталость коленей или напряжение в органах малого таза.',
    },
    {   name: 'Натараджасана',
        rusName: 'Поза танцора',
        link: 'img/asana4.svg',
        descr: 'Развивает вестибулярный аппарат, оказывает хорошее воздействие на все отделы позвоночника, улучшает работу почек и надпочечников. Асана рекомендована в первую очередь для исправления осанки в любом возрасте, поскольку в ней задействованы все сочленения позвоночника и мышцы, участвующие в поддержании позвоночника.',
    },
    {   name: 'Бхуджангасана',
        rusName: 'Поза кобры',
        link: 'img/asana5.svg',
        descr: 'Асана активизирует работу желез внутренней секреции, увеличивает объем легких, укрепляет брюшные мышцы, формирует правильную осанку и устраняет скованность позвоночника, активизирует деятельность желудочно кишечного тракта, стимулирует деятельность щитовидной и паращитовидной желез. Выполнение ее особенно рекомендуется при сколиозе, камнях в почках, мочевом и желчном пузыре, болезнях почек и надпочечников.',
    },
    {   name: 'Пурвоттанасана',
        rusName: 'Поза перевёрнутой планки',
        link: 'img/asana6.svg',
        descr: 'Пурвоттанасана помогает при заболеваниях легких, воспалительных и инфекционных, аллергических, при болях в спине, вызванных «сидячей» работой, для исправления осанки. Эта поза укрепляет запястья и лодыжки, обеспечивает хорошую подвижность плечевых суставов и полностью расширяет грудь. Укрепляет мышцы брюшного пресса и тонизирует область шеи. Стимулирует работу внутренних органов брюшной полости. Дает хороший отдых после утомительных наклонов вперед.',
    },
    {   name: 'Сукахасана',
        rusName: 'Поза для медитации',
        link: 'img/asana7.svg',
        descr: 'Поза используется при выполнении дыхательных упражнений, концентрации внимания и медитации. Сохраняет подвижность коленей и щиколоток и, усиливая кровообращение, улучшает питание органов брюшной полости. Поскольку позвоночник остается прямым, мозг сохраняет активность и внимание. Кровь хорошо циркулирует в области поясницы и лобка. Укрепляются мышцы, нервы, кровеносные сосуды бёдер и ног, развивается подвижность суставов лодыжек, коленей, бёдер, исправляются дефекты позвоночника.',
    },
    {   name: 'Сетху Бандха Сарвангасана',
        rusName: 'Мост на плечах',
        link: 'img/asana8.svg',
        descr: 'Асана предназначена для укрепления позвоночника и увеличения его гибкости. «Сету» означает мост. Асана является продолжением Сарвангасаны – позы Свечи.Рекомендуется при некоторых заболеваниях позвоночника, для исправления осанки в любом возрасте, для снятия напряжения с шейно-грудного отдела позвоночника.Эта асана сделает ваш Позвоночник здоровым и гибким, а соответственно будет здоровой и ваша нервная система. ',
    },
    {   name: 'Падмасана',
        rusName: 'Поза лотоса',
        link: 'img/asana9.svg',
        descr: 'Падмасана — основная поза йоги для пранаямы (искусство управления дыханием) и медитации. Вертикальное положение позвоночника позволяет сохранять свежесть ума, не допуская вялости и сонливости. Положение ног замыкает течение энергии вниз, останавливая потерю энергии, помогая накопить ее, словно воду в чашечке лотоса и направить вверх — к голове. Физиологически, Падмасана увеличивает подвижность коленей и лодыжек, тонизирует позвоночник и органы брюшной полости, усиливая циркуляцию крови в области живота и поясницы. ',
    },
    {   name: 'Ардха Падмасана',
            rusName: 'Поза полулотоса',
            link: 'img/asana10.svg',
            descr: 'Польза и эффект от выполнения полулотоса, примерно такой же как и при полном лотосе, только в меньшей степени.Эта поза способствует: стабилизации нервной системы, стабилизации кровяного давления, снимает мышечную напряженность, успокаивает ум, гармонизирует энергии в теле, благоприятна для практик пранаямы и медитации.',
        },
    {   name: 'Бакасана',
        rusName: 'Поза журавля',
        link: 'img/asana11.svg',
        descr: 'Бакасана укрепляет мышцы рук, плеч, запястий. Хорошо разогревает область малого таза и нижнего отдела спины. Улучшает кровообращение в области копчика и брюшной полости, тем самым, решая проблемы внутренних органов, расположенных в этой зоне. Как и другие балансы на руках, поза учит нас собирать тело воедино, развивает концентрацию, внимание, осознанность, эмоциональную стабильность и стрессоустойчивость. Бакасана также благоприятно воздействует на дыхательную систему, стимулирует сердечную деятельность, развивает вестибулярный аппарат, повышает выносливость и иммунитет.',
    },
    {   name: 'Дханурасана',
        rusName: 'Поза лука',
        link: 'img/asana12.svg',
        descr: 'Дханурасана относится к позам йоги, возвращающим гибкость позвоночнику, а стало быть продлевающим молодость. Также она тонизирует органы брюшной полости, помогает справиться с дефектами спины.Усиливает подвижность позвоночника, помогает натренировать мышцы живота и ног, глубокие и поверхностные мышцы спины. Асана отлично влияет на улучшение осанки, активизирует дыхание, работу эндокринных желез, массирует сердечную мышцу ',
    },
    {   name: 'Вирабхадрасана',
        rusName: 'Поза война 2',
        link: 'img/asana13.svg',
        descr: 'От этой асаны мышцы ног укрепляются и приобретают красивые очертания. Она снимает судороги в мышцах икр и бедер, придает гибкость ногам, а также тонизирует органы брюшной полости.Поза рекомендуется при всех заболеваниях позвоночника,  артритах и остеохондрозах любых отделов позвоночника, помогает увеличить подвижность суставов, устраняет жировые отложения в области талии и живота, укрепляет мышцы, тренирует выносливость и равновесие. Регулярная практика этой позы расширяет область грудной клетки, придает ей подвижность и эластичность. ',
    },
    {   name: 'Васиштхасана',
        rusName: 'Поза мудреца Васиштхи',
        link: 'img/asana14.svg',
        descr: 'Асана укрепляет мышцы рук, живота и ног, вытягивает запястья, положительно воздействует на поясничный и крестцовый отдел позвоночника, способствует снижению веса, тренирует вестибулярный аппарат. Васиштхасана устраняет стрессы и беспокойство, рекомендуется при эмоциональной неуравновешенности. ',
    }
    ];