-
    var asanas = [
    {   name: 'Уштрасана',
        rusName: 'Поза верблюда',
        link: 'img/asana10.svg',
        alt: 'ushtrasana',
        descr: 'Уштрасана относится к позам йоги, сильно тонизирующим весь организм. Она укрепляет плечи, спину, руки, грудь, брюшной пресс и бедра, очищает кровь и улучшает кровообращение. Придаёт гибкость позвоночнику, улучшает осанку. Повышает давление, лучшает работу щитовидной железы и половых желез, очень полезна при искривлении позвоночника, нарушениях работы мочеполовой системы.',
    },
    {   name: 'Натараджасана',
        rusName: 'Поза танцора',
        link: 'img/asana4.svg',
        alt: 'natarajasana',
        descr: 'Развивает вистибулярный аппарат, хорошее воздействие на все отделы позвоночника, прогиб улучшает работу почек и надпочечников.',
    }
    ];