extends ../main

block content
    main.main
        article#index.article
            .article__info
                .article__container
                    h2.article__header Добро пожаловать
                    p.article__text.
                        Здравствуйте, мои дорогие йожики! Благодарю Вас за интерес к моей страничке. Меня зовут Юлия, я буду Вашим проводником в удивительный мир ЙОГИ. На данном сайте Вы найдёте информацию о моих занятиях, о йоге, а также о всевозможных акциях и скидках.
            .article__asana
                include ../asanas
                +asana([0,2,1], asanas)

            svg.initsvg
                defs
                    path(d="M0 100 C 20 0 50 0 100 100 Z")#curveUp
                    path(d="M0 0 C 50 100 80 100 100 0 Z")#curveDown

        article#about-me.article
            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveUp
                use(xlink:href="#curveUp")
            .article__info
                .article__container
                    h2.article__header О себе
                    p.article__text
                        | Меня зовут Юлия Дмитриевна Шалимова (Яловицкая). Имею высшее физкультурное образование. Преподаю йогу с 2005 года, за это время открыла для себя удивительный мир гармонии и красоты – мир йоги. Йога действительно помогла мне улучшить здоровье, стать более осознанной, позволила услышать себя, что привело к позитивным изменениям в жизни. Первоначальный интерес к йоге возник давно и связан был, в основном, с ее оздоровительным эффектом на организм человека, позже появилось осознанное стремление к более глубокому изучению этой системы. С каждым днём я узнаю что-то новое для себя на семинарах и в личной практике.
                    .gallery(itemscope='', itemtype='http://schema.org/ImageGallery')
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-standart-1.jpg', itemprop='contentUrl', data-size='1920x1280').gallery__link
                                img(src='img/photos/thumbnails/ulya-standart-1.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-standart-2.jpg', itemprop='contentUrl', data-size='1920x1280').gallery__link
                                img(src='img/photos/thumbnails/ulya-standart-2.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-standart-3.jpg', itemprop='contentUrl', data-size='1920x1280').gallery__link
                                img(src='img/photos/thumbnails/ulya-standart-3.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-standart-4.jpg', itemprop='contentUrl', data-size='1920x1280').gallery__link
                                img(src='img/photos/thumbnails/ulya-standart-4.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-standart-5.jpg', itemprop='contentUrl', data-size='1920x1280').gallery__link
                                img(src='img/photos/thumbnails/ulya-standart-5.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                    p.article__text
                        | Проходила обучение у таких мастеров как Анатолий Зенченко, Владимир Калабин, Лилия Ивановна Музыченко, Вячеслав и Анна Овсянниковы, Ольга Голикова, Паршков Михаил, Игорь Пантюшев, Сергей Агапкин, Михаил Николаевич Константинов, Петри Ряйсянен и др. После обучения в Крыму, летом 2009 года, прошла сертификацию и получила диплом мастера Хатха-Йоги в «Крымском институте физкультуры на основе практической йоги».
                    .gallery(itemscope='', itemtype='http://schema.org/ImageGallery')
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box.ieCrutch
                            a(href='img/photos/diplom_big2.jpg', itemprop='contentUrl', data-size='987x674').gallery__link
                                img(src='img/photos/diplom_big2.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                            figcaption(itemprop='caption description').gallery__caption Мой Диплом
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box.ieCrutch
                            a(href='img/photos/cert-big.jpg', itemprop='contentUrl', data-size='909x1280').gallery__link
                                img(src='img/photos/thumbnails/cert-big.jpg', itemprop='thumbnail', width='250', alt='Image description').gallery__img
                            figcaption(itemprop='caption description').gallery__caption Сертификат Ишвара
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box.ieCrutch
                            a(href='img/photos/cert-big2.jpg', itemprop='contentUrl', data-size='905x1280').gallery__link
                                img(src='img/photos/thumbnails/cert-big2.jpg', itemprop='thumbnail', width='250', alt='Image description').gallery__img
                            figcaption(itemprop='caption description').gallery__caption Сертификат Хатха
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box.ieCrutch
                            a(href='img/photos/diplom_big1.jpg', itemprop='contentUrl', data-size='1024x734').gallery__link
                                img(src='img/photos/diplom_big1.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                            figcaption(itemprop='caption description').gallery__caption Вручение Диплома



                    p.article__text
                        | 2010-2011 прошла курс для преподавателей «Teaching express» у Анатолия Зенченко. По окончанию курса, успешно сдав экзамены, получила сертификат международного класса подтвержденный International Yoga Federation и Международной Ассоциацией Йоги. На сегодняшний день, являюсь единственным сертифицированным преподавателем Ишвара-йоги в городе Кемерово.
                    p.article__text
                        | На групповых и индивидуальных занятиях я уделяю внимание каждому ученику, передавая все необходимые знания и навыки. Я считаю, что в йоге главное – это внутреннее состояние, которое при регулярной практике меняет отношение к жизни. Все становится более легким и радостным. Этим состоянием я и стремлюсь делиться на занятиях. Ну а гибкость и физическая выносливость с практикой придут непременно!
                    .gallery(itemscope='', itemtype='http://schema.org/ImageGallery')
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-wide-1.jpg', itemprop='contentUrl', data-size='1920x1080').gallery__link
                                img(src='img/photos/thumbnails/ulya-wide-1.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-wide-2.jpg', itemprop='contentUrl', data-size='1920x1080').gallery__link
                                img(src='img/photos/thumbnails/ulya-wide-2.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-wide-3.jpg', itemprop='contentUrl', data-size='1920x1080').gallery__link
                                img(src='img/photos/thumbnails/ulya-wide-3.jpg', itemprop='thumbnail', alt='Image description').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/ulya-wide-4.jpg', itemprop='contentUrl', data-size='1920x1080').gallery__link
                                img(src='img/photos/thumbnails/ulya-wide-4.jpg', itemprop='thumbnail', alt='Image description').gallery__img

                    p.article__text
                        | Мои занятия состоят из асан Хатха-Йоги, связанных между собой динамическими вставками (виньясами) и синхронизированных с дыханием. Занятия полезны как новичкам, так и имеющим опыт в йоге.
            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveDown
                use(xlink:href="#curveDown")
            .article__asana
                +asana([3,5,4], asanas)

        article#about-yoga.article
            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveUp
                use(xlink:href="#curveUp")
            .article__info
                .article__container
                    h2.article__header   О йоге

                    p.article__text
                        | Йога — это целостная система, способная сделать человека в той степени более свободным и гармоничным, в какой он сам того желает — будь то физическое оздоровление, обретение душевного покоя или духовное развитие.

                    p.article__text
                        | Йога позволяет узнать и расширить границы собственных возможностей, полностью расслабиться и стать самим собой. Она дает нам время вспомнить, кто мы есть на самом деле, так как мы зачастую забываем об этом в спешке повседневности.
                    img(src='img/photos/aboutyoga.jpg', alt='aboutyoga').aboutyoga
                    p.article__text
                        | Ведь Йога - это не спорт, йога - это состояние вашей Души. Это радость от движения и ощущения своего тела.
                    p.article__text
                        | О йоге написано очень много книг и статей, они все по своему хороши, но я не буду более цитировать их или говорить ещё что-либо о йоге, а мне бы хотелось вспомнить одну замечательную легенду о Манговой Роще.
                    p.article__text Вкратце она звучит так:
                    p.article__text
                        | Отец посылает трёх своих сыновей в манговую рощу. Возвратившись, старший начинает рассказывать об истории манговой рощи — кому она принадлежала раньше, кто ее нынешний владелец и т. д. Средний докладывает о точном количестве деревьев, об их возрасте… А младший лишь смущенно улыбается и говорит: «Я попробовал плоды манго. Они сладкие, но невозможно передать словами их вкус. Отец сам должен поехать и попробовать».
                    p.article__text
                        | Вот и я, призываю Вас, какие бы отзывы Вы не слышали от других, какие книги о йоге не читали бы. Просто придите в зал и попробуйте позаниматься, потому что словами невозможно передать «вкус» ЙОГИ.

            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveDown
                use(xlink:href="#curveDown")
            .article__asana
                +asana([6,7,8], asanas)

        article#schedule.article
            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveUp
                use(xlink:href="#curveUp")
            .article__info
                .article__container
                    h2.article__header   Расписание занятий
                    .place
                        .place__box
                            p.place__text пр.Ленина 32А (угловой подъезд, код: 12В)
                            a(href="#mapPlace2")#mapPlace1.place__link Показать на карте
                            ul.place__schedule
                                li.place__time Понедельник с 20:30 до 22:00
                                li.place__time Вторник с 14:00 до 15:00
                                li.place__time Среда с 20:30 до 22:00
                                li.place__time Пятница с 14:00 до 15:00, с 20:00 до 21:30

                        .place__box
                            p.place__text пр.Ленинградский 29а, школа №28, въезд напротив АЗС "Роснефть"
                            a(href="#mapPlace2")#mapPlace2.place__link Показать на карте
                            ul.place__schedule
                                li.place__time Вторник с 19:00 до 20:00
                                li.place__time Четверг с 19:00 до 20:00
                    #mapBlock.place__block

                .article__container
                    h2.article__header   Стоимость занятий
                    .price
                        p.article__text Стоимость абонемента на месяц:
                        ul.price__list
                            li.price__item На 12 занятий – 2000 руб.
                            li.price__item На 8 занятий – 1600 руб.
                            li.price__item На 4 занятия – 1100 руб.
                            li.price__item Первое пробное занятие – 100 руб.
                            li.price__item Разовое посещение – 300 руб.

                    h2.article__header Заказ товаров для йоги
                    .price
                        p.article__text Вы можете подобрать себе коврик, чехол для него, удобную одежду для занятий йогой, аюрведические продукты и косметику, чаванпраш и многое другое. На сайтах часто делают скидки на множество товаров. Мы выполняем заказ раз в 2 месяца и доставка для вас будет бесплатной.
                        .price__box
                            a.price__link(href="http://yogin.ru", target='_blank')
                                img.price__img(src="img/yogin_210x60.jpg", alt="yogin.ru").price__shop
                            a.price__link(href="http://hanuman.ru", target='_blank')
                                img.price__img(src="img/hanuman300.gif", width='210', alt="hanuman.ru").price__shop

            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveDown
                use(xlink:href="#curveDown")
            .article__asana
                +asana([2,10,11], asanas)

        article#video.article
            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveUp
                use(xlink:href="#curveUp")
            .article__info
                .article__container
                    h2.article__header Видео
                    p.article__text
                        | Хочу представить Вашему вниманию несколько видео-уроков по йоге для начинающих, которые Вы можете выполнять в домашних условиях.

                    .article__video
                        .video
                            h3.video__header Приветствие Солнцу
                            iframe(src="https://www.youtube.com/embed/VcvzhZYV-nU"  allowfullscreen).video__frame
                            p.video__text
                                | Сурья намаскар. Cлово Сурья означает «Солнце». Солнце поддерживает своей энергией все живое на земле. Практика Сурья намаскар (приветствие Солнцу) предназначена для того, чтобы вы пропитались этой энергией. Сурья намаскар - очень известная техника в йоге, один из наиболее употребляемых методов для поддержания здоровья и энергичной активной жизни. И в то же время, она является подготовкой к духовному пробуждению и, как результат - к расширению сознания.
                            p.video__text
                        .video
                            h3.video__header Приветствие Луне
                            iframe(src="https://www.youtube.com/embed/gjhn1JMyXkc"  allowfullscreen).video__frame
                            p.video__text
                                | Видео появится в ближайшее время.
                                //- | - Чандра Намаскар. Эта поза прекрасно укрепляет и тонизирует органы брюшной полости, а также задействует мышцы низа спины. Поначалу она кажется сложной, но регулярная практика непременно увенчается успехом.
                            p.video__text
                        .video
                            h3.video__header Поза Лодки
                            iframe(src="https://www.youtube.com/embed/aMN6MzHxSpU"  allowfullscreen).video__frame
                            p.video__text
                                | Видео появится в ближайшее время.

                                //- | Парипурна Навасана. Эта поза прекрасно укрепляет и тонизирует органы брюшной полости, а также задействует мышцы низа спины. Поначалу она кажется сложной, но регулярная практика непременно увенчается успехом.
                            p.video__text
                        .video
                            h3.video__header Продольный Шпагат
                            iframe(src="https://www.youtube.com/embed/5Z9dnEczJXI"  allowfullscreen).video__frame
                            p.video__text
                                | Видео появится в ближайшее время.
                            //- p.video__text Хануманасана

                        .video
                            h3.video__header Поперечный Шпагат
                            iframe(src="https://www.youtube.com/embed/2KVyZwrM4Fw"  allowfullscreen).video__frame
                            p.video__text
                                | Видео появится в ближайшее время.
                            //- p.video__text  Самоконаса
            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveDown
                use(xlink:href="#curveDown")
            .article__asana
                +asana([0,12,1], asanas)

        article#seminars.article
            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveUp
                use(xlink:href="#curveUp")
            .article__info
                .article__container
                    h2.article__header Мероприятия

                    h3.article__subheader Серия семинаров с Игорем Пантюшевым в Кемерово
                    p.article__text Друзья, новый учебный год с Игорем Пантюшевым начинается. И первый семинар в Кемерово состоится 15-16 октября. Оба дня с 12 до 18 часов с перерывом на обед. Прошу вас регистрироваться и оплачивать заранее т.к. количество мест в зале ограничено. Предварительная запись ОБЯЗАТЕЛЬНА. О каждом семинаре можно прочитать подробно, нажав на изображение.

                    .gallery(itemscope='', itemtype='http://schema.org/ImageGallery')
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/seminar1.jpg', itemprop='contentUrl', data-size='1500x2122').gallery__link
                                img(src='img/photos/thumbnails/seminar1.jpg', itemprop='thumbnail', alt='Описание семинара').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/seminar2.jpg', itemprop='contentUrl', data-size='1500x2122').gallery__link
                                img(src='img/photos/thumbnails/seminar2.jpg', itemprop='thumbnail', alt='Описание семинара').gallery__img
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                            a(href='img/photos/seminar3.jpg', itemprop='contentUrl', data-size='1500x2122').gallery__link
                                img(src='img/photos/thumbnails/seminar3.jpg', itemprop='thumbnail', alt='Описание семинара').gallery__img


                    //- ul.article__list
                    //-     li.article__item При оплате до 1 марта – 18 000 рублей
                    //-     li.article__item При оплате до 1 августа  – 20 000 рублей
                    //-     li.article__item Оплата после 1 августа – 22 000 рублей





                    //- h3.article__subheader Анонс серии семинаров Игоря Пантюшева “ЙОГА. КУЛЬТУРА ДВИЖЕНИЯ”

                    //- p.article__text
                    //-     | Предварительная запись ОБЯЗАТЕЛЬНА по телефону 8&#8209;906&#8209;933&#8209;3964.
                    //- p.article__text
                    //-     | СТОИМОСТЬ: два дня по предоплате до 25 апреля - 2500р, после 25го - 3000р. Один день - 1500р.
                    //- .gallery(itemscope='', itemtype='http://schema.org/ImageGallery')
                    //-     figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject').gallery__box
                    //-         a(href='img/photos/seminar3.jpg', itemprop='contentUrl', data-size='1500x2122').gallery__link
                    //-             img(src='img/photos/thumbnails/seminar3.jpg', itemprop='thumbnail', alt='Описание семинара').gallery__img
            svg(viewBox="0 0 100 100" preserveAspectRatio="none").article__curveDown
                use(xlink:href="#curveDown")
            .article__asana
                +asana([9,5,3], asanas)



        .pswp(tabindex='-1', role='dialog', aria-hidden='true')
          .pswp__bg
          .pswp__scroll-wrap
            .pswp__container
              .pswp__item
              .pswp__item
              .pswp__item
            .pswp__ui.pswp__ui--hidden
              .pswp__top-bar
                .pswp__counter
                button.pswp__button.pswp__button--close(title='Close (Esc)')
                button.pswp__button.pswp__button--share(title='Share')
                button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                .pswp__preloader
                  .pswp__preloader__icn
                    .pswp__preloader__cut
                      .pswp__preloader__donut
              .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                .pswp__share-tooltip
              button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
              button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
              .pswp__caption
                .pswp__caption__center




